		.results-wrap .type-wrap{
			border: 1px solid #fefefe;
			padding: 10px;
			padding-left: 60px;
			color: white;
			position: relative;
		}

		.title-wrap{
			text-align: center;
			padding: 15px;
		}

		.strong-against,
		.weak-against{
			padding: 10px;
		}

		.type-select-form{
			width: 100%;
			height: 40px;
		}

		.result-title-wrap{
			text-align: center;
			color: white;
			padding: 10px;
			position: relative;
		}

		.result-title-wrap.strong{
			background-color: #cc3300;
		}		

		.result-title-wrap.weak{
			background-color: #009933; 
		}

		.result-title{
			margin-bottom: 0px;
			font-size: 20px;
			font-weight: 600;
		}

		.title{
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 0px;
		}

		option.hidden{
			display: none;
		}

		.results-wrap{
			padding-bottom: 20px;
		}

		.arrow-indicator{
			width: 20px;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			transition: all 1s;			
		}

		.second-type-trigger{
			text-align: center;
			border: 2px solid #DFDFDF;
		}

		.second-type-trigger.active{
			background-color: #FF3737;
			color: white;
			border: 2px solid #FF3737;
		}		

		.second-type-text{
			margin: 5px;
		}

		.type2-wrap{
			display: none;
		}

		.filter-form-wrap{
			margin-top: 20px;
		}

		.info-text{
			margin-bottom: 0px;
			padding-right: 10px;
		}

		.type-img{
			width: 40px;
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
		}

		.results-wrap .normal{
			background-color:#aaa878;
		}

		.results-wrap .fire{
			background-color:#e27e39;
		}

		.results-wrap .water{
			background-color:#6890f0;
		}

		.results-wrap .grass{
			background-color:#55c272;
		}

		.results-wrap .electric{
			background-color:#f6d960;
			color: #6d6d6d;
		}

		.results-wrap .ice{
			background-color:#6890f0;			
		}

		.results-wrap .fighting{
			background-color:#c03028;
		}

		.results-wrap .poison{
			background-color:#a140a1;
		}

		.results-wrap .ground{
			background-color:#dec378;
		}

		.results-wrap .flying{
			background-color:#a98ff0;
		}

		.results-wrap .psychic{
			background-color:#f95788;
		}

		.results-wrap .bug{
			background-color:#a9b821;
		}

		.results-wrap .rock{
			background-color:#b7a038;
		}

		.results-wrap .ghost{
			background-color:#705798;
		}

		.results-wrap .dragon{
			background-color:#7038f9;
		}

		.results-wrap .dark{
			background-color:#715748;
		}

		.results-wrap .steel{
			background-color:#b8b8d0;
		}

		.results-wrap .fairy{
			background-color:#f7c9e3;
			color: #6d6d6d;
		}